PIL==1.1.7
Scrapy==0.18.3
Twisted==13.1.0
argparse==1.2.1
distribute==0.6.24
elementtree==1.2.7-20070827-preview
lxml==3.2.3
pyOpenSSL==0.13.1
queuelib==1.0
requests==2.0.1
w3lib==1.3
wsgiref==0.1.2
zope.interface==4.0.5
